@import "tailwindcss";

body {
    font-family: var(--font-roboto), sans-serif;
}

.title {
    font-weight: 900;
}

.subtitle {
    font-weight: 500;
}

.content {
    font-weight: 200;
}

.slanted {
    font-variation-settings: "slnt" 15;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-scroll {
  display: flex;
  animation: marquee-scroll 25s linear infinite;
  white-space: nowrap;
  will-change: transform;
}